*{
    margin: 0;
    padding: 0;
    font-family: sans-serif !important;
}

html{
    background-color: #fff;
}

.encabezado{
    position: absolute;
    background-color: #0a8005;
    box-shadow: 0px 0px 20px 5px #cacaca;
}

.logo{
    position: relative;
    border-radius: 50%;
}

h1{
    position: relative;
    color: #fff;
}

@media screen and (min-width: 1200px){

    .encabezado{
        height: 14vh;
        width: 100%;
    }

    .logo{
        height: 95%;
        width: 9.5%;
        margin-top: 0.9%;
        margin-left: 1.9%;
    }

    .logo-titulo{
        position: absolute;
        height: 70%;
        width: 50%;
        display: flex;justify-content: initial;
        top: 7%;
    }
        
    h1{
        margin-left: 1%;
        font-size: 10vh !important;
        font-weight: bold !important;
    }

    .nombre-usuario{
        position: static;
        background-color: #d0ffc7;
        height: 84%;
        width: auto;
        top: 30%;
        left: 60%;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center !important;
        margin-right: 2%;
    }

    .cerrar-sesion{
        position: relative;
        width: auto;
        left: auto;
    }
    
    .contenedor-cerrar-sesion{
        position: absolute;
        height: 50%;
        width: 30%;
        top: 20%;
        left: 70%;
        display: flex;
        align-items: center;
    }

    /*estilos de menu pricipal*/

    .lista-principal{
        position: absolute;
        border-right: #fff;
        width: 17%;
        height: 86%;
        top: 14%;
        box-shadow: 0px 10px 20px 0px #cacaca;
        display: flex;
        justify-content: start;
    }

    .nav-list{
        
        list-style-type: none !important;
    }

    li a{
        text-decoration: none;
        color: #000;
    }

    a{
        margin-left: 2px;
    }

    img{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -5px;
    }


    .contenedor-home, .contenedor-movimientos, 
    .contenedor-registro, .contenedor-estadisticas,
    .contenedor-stock, .contenedor-usuarios{
        position: absolute;
        margin-left: -32px;
        /*border: 1px solid black;*/
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: 2%;
    }

    .contenedor-home{
        height: 10%;
        cursor: pointer
    }

    .contenedor-movimientos{
        margin-top: 10% ;
        height:10%;
        display: flex;
        align-items: center;
        cursor: pointer;

    }

    .contenedor-registro{
        margin-top: 20%;
        height: 10%;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .contenedor-estadisticas{
        margin-top: 30%;
        height: 10%;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-right: 3px solid #bdbdbd;
        background-color: #efefef;

    }

    .contenedor-stock{
        margin-top: 40%;
        height: 10%;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .contenedor-usuarios{
        margin-top: 50%;
        height: 10%;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .nav-general{
        height: 60%;
        width: 100%;
    }

    .contenedor-home:hover, .contenedor-estadisticas:hover,
    .contenedor-movimientos:hover, .contenedor-registro:hover,
    .contenedor-stock:hover, .contenedor-usuarios:hover{
        background-color: #efefef;  
    }
}
/*stock*/

.auto{
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
    padding: 7rem;
    width: 90%;
}

.vent{
    cursor: pointer;
    padding-bottom: 1rem;
    
}


.vent .vent1 , .vent2{
    text-decoration: none;
    padding: 0.6rem;
    background: #0a8005;
    color: #fff;
}

.vent .vent1 ,.vent2:hover{
   color: #fff;
}



.inventory {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    
}

.stock-h2{
    display: flex;
    justify-content: space-between;
    background: #f0f0f0;
    padding: 1rem;
    padding-top: 1rem;

}

#add, #deleteAllBtn{
    border: none;
    padding: 0.7rem;
    background: #0a8005;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 0.7rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #0a8005;
    color: white;
    font-size: 0.8rem;
}

tr:hover {
    background-color: #f5f5f5;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #0a8005;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
    font-style: italic;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
   
    opacity: 1;
}

/* Estilos para los botones */
.btn-editar, .btn-eliminar {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 1px;
    padding: 0.2rem;

    
}

.btn-editar {
    background: #0a8005;
}

.btn-eliminar {
    background: red;
}

.acc{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}



/* pagination stylo */
   .pagination {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .pagination button {
            margin: 0 5px;
            padding: 5px 10px;
            background-color: #4caf50;
            color: white;
            border: none;
            cursor: pointer;
        }

        .pagination button:hover {
            background-color: #45a049;
        }

        .pageNumBtn.active {
            background-color: #45a049;
        }

    
.container {
    text-align: center;
    margin-top: 50px;
  }
  
  

  #ttable{
    display: none;
  }

  #inventoryTable{
    display: none;
  }


 /* Estilos para el modal */
 .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}


.modales {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin: 0;
    padding: 20px;
    border: 1px solid #888;
    width: 37%;
    border-radius: 10px;
}

.modales button{
    margin-top: 0.6rem;
    padding: 0.4rem;
    color: #fff;
    background: #0a8005;
    border-radius: 2px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.modal button:hover{
 box-shadow: 10px #0a8005;
}

.close{
    display: flex;
  justify-content: end;


    color: red;
    font-size: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}
