*{
    margin: 0;
    padding: 0;
    font-family: serif !important;
}

html{
    background-color: #fff;
}

.encabezado{
    position: absolute;
    background-color: #0a8005;
    box-shadow: 0px 0px 20px 5px #cacaca;
}

.logo{
    position: absolute;
    border-radius: 50%;
}

h1{
    color: #fff;
}

@media screen and (min-width: 1200px){

    .encabezado{
        height: 18vh;
        width: 100%;
    }

    .logo{
        height: 10%;
        width: 5%;
        margin-top: 1.5%;
        margin-left: 1.9%;
    }

    h1{
        font-size: 11vh !important;
        margin-top: 0.80% !important;
        font-weight: bold !important;
        margin-left: 10%;
    }

    .nombre-usuario{
        position: absolute;
        background-color: #fff;
        height: 35%;
        width: 13%;
        top: 35%;
        left: 70%;
        border-radius: 4px;
    }

    .cerrar-sesion{
        position: absolute;
        top: 35%;
        left: 84%;
    }

}

@media screen and (min-width: 901px) and (max-width: 1200px){

    
}

@media screen and (min-width: 601px) and (max-width: 900px){

    .encabezado{
        width: 100%;
        height: 17%;
    }

    .logo{
        width: 0%;
        height: 0%;
        top: 1.5%;
        left: 1.5%;
    }
}