/*TABLA*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.fondo{
    position: absolute;
    width: 100%;
    opacity: .9;
}

.boton{
    border: 1px solid black;
    color: red;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}
h1{
    position: absolute;
    top: 50px;
    left: 600px;
    text-align: center;
    font-size: 4rem;
}

.Tablaregistro {
    border: 2px solid black;
    border-collapse: collapse;
    position: absolute;
    top: 200px;
    left: 550px;
    width: 700px;
    height: 30px;
    text-align: center;
    font-size: 24px;
    border-radius: 6px;
    border-collapse: separate;
  }

  table tbody tr:nth-child(odd) {
	background: #0078b7;
    color: #cce9f3;
}
table tbody tr:nth-child(even) {
	background: #97d4e5;
}
table thead {
  background: #00b4d8;
  color: #cce9f3;
  font-size: 18px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

.inventario{
  height: 50%;
  left: 50%;
  top: 50%;
  width: 50%;
  border: 2px solid black;
}  