*{
    margin: 0;
    padding: 0;
    font-family: sans-serif !important;
}

html{
    background-color: #fff;
}

.encabezado{
    position: absolute;
    background-color: #0a8005;
    box-shadow: 0px 0px 20px 5px #cacaca;
}


h1{
    color: #fff;
    text-align: center;
}

.inicio{
    position: absolute;
    color: #000;
}

.contenedor{
    position: absolute;
    background-color: #fff;
    border-radius: 5%;
    box-shadow: 0px 0px 20px 7px #cacaca;
    display: flex;
    justify-content: center;
}

/*Estilos para formularios*/

input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #767676;
    background: transparent;
    outline: none; 
    color: #000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover
input:-webkit-autofill:focus{
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    border-bottom: 1px solid #000;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #000;
    
}

input[type="submit"]{
    height: 34px;
    width: 28%;
    top: 4%;
    position: relative;
    margin-top: 5%;
}

/*estilos para iconos de bootstrap*/

.icono-persona, .icono-ojo{

    position: absolute;
    color: #000;
    top: 20%;
    left: 80%;
}

.icono-ojo{
    margin-top: 12%;
    cursor: pointer;
}

/*estilos para botones*/
#btn-ingresar{
    position: absolute;
    height: 12.7%;
    width: 40%;
    top: 44.7%;
    
}

#registro{
    position: absolute;
    width: 40%;
    height: 12.7%;
    top: 50.4%;
    left: 52%;
}

#recuperar{
    position: absolute;
    width: 70%;
    left: 15%;
    top: 70%;
}


/*estilos para modo noche*/

#estilos-sol{
    position: absolute;
    color: #000;
    width: 10%;
    height: 10%;
    top: -21%;
    left: 90%;

}

/*estilos palma fondo*/

.palma-fondo{
    position: absolute;
    width: 135vh;
    left: 100vh;
    top: 10vh;
    left: 0vh;
    opacity: .5;
}

/*estilos para hacer pagina responsibe*/

@media screen and (min-width: 1200px){

    .encabezado{
        height: 23vh;
        width: 100%;
    }

    .logo{
        position: absolute;
        border-radius: 50%;
        height: 16%;
        width: 8%;
        margin-top: 1.5%;
        margin-left: 2%;
    }

    h1{
        font-size: 11vh !important;
        margin-top: 1% !important;
        font-weight: bold !important;
    }

    .inicio{
        font-size: 6vh;
        top: 25%;
        left: 41%;
        font-weight: bold;
    }

    .contenedor{
        top: 37%;
        left: 37%;
        width: 25%;
        height: 50%;
        font-size: 2.5vh
    }

    .formulario{
        margin-top: 8%;
        height: 80%;
        width: 80%;
    }

    input[type="text"], input[type="password"]{
        width: 100%;
        margin-top: 5%;
    }

    input[type="submit"]{
        height: 34px;
        width: 28%;
        top: 4%;
        position: relative;
        margin-top: 5%;
    }
}

@media screen and (min-width: 901px) and (max-width: 1200px){

    
}

@media screen and (min-width: 601px) and (max-width: 900px){

    .encabezado{
        width: 100%;
        height: 17%;
    }

    .logo{
        width: 13%;
        height: 12%;
        top: 1.5%;
        left: 1.5%;
    }
}



